@media (min-width:320px) and (max-width:480px) {
    .container_header {
        background-position-x: -130px;
    }

    .navbar {
        flex-wrap: wrap;
    }

    .logo {
        width: 50%;
    }

    .menu_links {
        display: none;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: 0;
        gap: 2px;
        border-top: 2px solid transparent;
    }

    .li_link {
        justify-content: center;
        width: 100%;
        height: 50px;
        margin: 0;



    }

    .link_m {
        width: 100%;
        height: 100%;
        /* background-color: transparent; */
        background-color: #ffa8a8;
        border-bottom: 2px solid transparent;
        border-radius: 0px;
    }


    .burguer_nav {
        display: flex;
        height: 100%;
        width: 50px;
    }


    .show {
        display: flex;
        z-index: 1;
    }


    /* *********** */

    .ani {
        width: 90%;
        margin: 0;
    }

    .ani span {
        font-size: 40px;
    }

    @keyframes nucba {

        0%,
        10% {
            visibility: visible;
        }

        25% {
            border-bottom: 2px solid #000;
            color: white;
        }

        50% {
            color: #ff6e6c;
            letter-spacing: 2px;
        }

        100% {
            visibility: visible;
            border-bottom: 2px dotted #000;
        }
    }

    /* ***section 1 */

    .card_hero {
        width: 90%;
        height: 60%;
        gap: 3rem;
        align-items: center;

    }

    .card_hero h1 {
        width: 25rem;
        text-align: center;
    }

    .card_hero p {
        text-align: center;
        width: 25rem;
        font-size: 1.7rem;
    }

    .img_card {
        display: none;
    }

    .buttons_hero1 {
        justify-content: center;
    }

    .btn {
        width: 12rem;
        font-size: 1.1rem;
    }

    .btn2 {
        width: 10rem;
    }

    /* ***SECTION 2 HERO2** */

    .content_hero2 {
        width: 90%;
    }

    /* ***Contenido 1 sec 2 */
    .cont_1 p,
    .cont_2 p {
        font-size: 1.2rem;
        width: 15rem;
    }

    .cont_1 img {
        width: 10rem;
        height: 15rem;
        align-self: flex-start;
    }

    /* ***Contenido 2 sec 2 */
    .cont_2 {
        flex-direction: column;
    }

    .cont_2 p {
        width: 30rem;
        align-self: center;

    }

    .cont_2 img {
        width: 30rem;
        height: 20rem;
    }

    @media (max-height:600px) {

        .container_header {
            background-position-y: 30px;
        }

        /* ***SECTION 1 */
        /* .card_hero {
            width: 80%;

    
        } */
        .card_hero h1 {
            align-self: center;
            width: 80%;
            font-size: 2rem;
        }

        .card_hero p {
            width: 100%;
            font-size: 1.1rem;
        }

        .btn {
            width: 10rem;
            height: 3.2rem;
        }

        .btn2 {
            width: 9rem;
            font-size: 0.9rem;
        }

        /* **CONTENIDOS SECTION 2 */
        .cont_1 p {
            font-size: 1rem;
        }

        .cont_2 p {
            font-size: 1rem;
            width: 22rem;
        }

        .cont_2 img {
            height: 10rem;
            width: 20rem
        }

        ;

    }

}